@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
body{
    overflow: hidden;
}
/* header */
.header {
    height: 100px;
    border-bottom: 1px solid rgba(255, 217, 0, 0.423);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

/* 로고 */
.header h1{}

.header h1 a{}

/* 메뉴 */
.header .menu {
    display: flex;
    font-size: 1.8vw;
}
.header .menu li{
    margin: 0 1rem;
}
.header .menu li a{}

/* sns */
.header .sns{
    display: flex;
}
.header .sns li{
}
.header .sns li a{
    margin: 0 0.5vw;
    font-size: 18px;
    color: #ddd;
}
.header .sns li a i{}

.header .sub_menu {
    position: absolute;
    display: none;
    right: 2rem;
}


/* main */
main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
main video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
main .text{
    position: absolute;
    left: 6vw;
    top: 40%;
}
main .text p{
    font-size: 2.5vw;
    font-family: 'Roboto Condensed', sans-serif;
}
main .text ul{
    display: flex;
}
main .text ul li{
    font-size: 14px;
    margin-right: 10px;
}
main .text ul li a {}
main .text ul li a i {}
main .text ul li a strong {}

/* footer */
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font: 14px/1 'arial';
    color: #ddd;
    text-align: center;
    padding: 5vh 5vw;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }

    .header .sub_menu {
        display: block;
        font-size: 24px;
    }
      .header .sns {
        display: none;
    }
      .header .menu {
        display: none;
      }

    main .text {
        width: 100%;
        left: 0;
        text-align: center;
        padding: 2rem;
    }

    main .text p {
        font-size: 11pt;
        font-family: 'Roboto Condensed', sans-serif;
    }

    main .text ul {
        justify-content: center;
    }
    main .text ul li a {
        font-size: 12px;
    }

    footer {
        font-size: 10px;
    }

}